<template>
 <div class="container">
 <transition name="fade">
 <router-view></router-view>
 <articles ></articles>
 <admin></admin>
 <editarticle></editarticle>
 <addarticle></addarticle>
 <follow></follow>
 </transition>
 </div>
</template>

<script>
export default {
 mounted() {
 console.log('Component mounted.')
 }
 }
</script>
