<template>
<div>
    <h1>Articles</h1>
    <table class="table ">
        <thead>
            <tr>
            <th>Name</th>
            <th></th>
            <th></th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody v-for="user in users " v-bind:key="user.id">
            <tr>
<td>
   {{user.name}}
</td>
<td></td>
<td></td>
<td >
    <button v-if="status.includes(user.id)" :id="user.id" @click="AddFollow"  class="  btn btn-success" disabled>Follow</button>
     <button v-else :id="user.id" @click="AddFollow"  class="  btn btn-success" >Follow</button>
    <button v-if="status.includes(user.id)" @click="unFollow(user.id)"  type="button" class=" btn btn-danger" >unfollow</button>
    <button v-else @click="unFollow(user.id)"  type="button" class=" btn btn-danger" disabled>unfollow</button>
    </td>
            </tr>
        </tbody>
    </table>
</div>
</template>
<script>
export default {
    data () {
        return {
            status : [],
            followers : [],
            users : [],
            follow : {
             user_id : '',
             follow_id : '',
             status : ''
            }
        }
    },
    created() {
        this.fetchUsers();
        this.fetchFollows();
        console.log('status',this.status)
    axios.get('/api/comment/user').then(res => {
            this.follow.user_id = res.data.id
            });
    },
    methods : {
      fetchUsers() {
          axios.get('api/follow/user').then(res => {
              this.users = res.data
          });
      },
      AddFollow() {
           this.follow.status = 1;
            this.follow.follow_id = event.target.id
           axios.post('api/follow/user',this.follow).then(res=> {
           this.fetchFollows();
           this.fetchUsers();
           });
      },
      unFollow(id) {
        axios.delete(`/api/follow/follows/${id}`)
            .then(res => {
           this.fetchFollows();
            });
      },
      fetchFollows() {
                axios.get('api/followers').then(res => {
                    this.followers = res.data ;
                    console.log('followers',res.data)
                }).then(res => {
                     this.users.forEach(user => {
                  if(Object.values(this.followers).includes(user.id)){
                      this.status.push(user.id);
                  }
             });
                })
            },
    }
}
</script>
