<template>
<div class="card" style="width: 30rem; border: 11px solid rgba(12, 12, 12, 0.125);
    border-radius: 1.25rem; text-align: center;margin-left: 289px;margin-top: 53px;">
  <div class="card-header">
    {{userName}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">you have wrote {{nbArticles}} Articles</li>
    <li class="list-group-item">you have commented {{nbComments}} times !</li>
  </ul>
</div>


</template>
<script>
export default {
data() {
    return {
      nbArticles : '',
      nbComments : '',
      userName :''

    }
},
created() {
     axios.get('/api/comment/user').then(res => {
            this.userName = res.data.name
     });
 axios.get('api/articles/user').then(res => {
     this.nbArticles=res.data.articles;
     this.nbComments = res.data.comments;
 })
}
}
</script>
