<template>
    <form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" v-model="article.title" class="form-control" id="title">
  </div>
  <div class="form-group">
    <label for="body">Content</label>
    <textarea v-model="article.body" class="form-control" id="body" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" class="form-control-file" id="image">
  </div>
    <button @click="addArticle()" class="btn btn-primary" type="submit">Submit </button>
</form>
</template>

<script>
export default {
    data () {
        return {
            article : {
                title : '',
                body : '',
                user_id :'',
                author : ''
            }

        }
    },
    created() {
        axios.get('/api/comment/user').then(res => {
            this.article.user_id = res.data.id;
            this.article.author = res.data.name;
            console.log(res.data)
            })

    },
    methods : {
     addArticle() {
         axios.post('api/article',this.article).then(res => {
            this.$router.push({name:'admin'});
         })
     },
     clearForm() {
         this.title = '',
         this.body = ''
     }
    }
}
</script>
