<template>
<div>
    <h1>Articles</h1>
    <table class="table ">
        <thead>
            <tr>
            <th>Title</th>
            <th></th>
            <th></th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody v-for="article in articles " v-bind:key="article.id">
            <tr>
<td>
   {{article.title}}
</td>
<td></td>
<td></td>
<td>
    <router-link v-bind:to="{name:'EditArticle',params : {id: article.id}}" class="btn btn-primary">Edit</router-link>
    <button type="button" class="btn btn-danger" @click="deleteArticle(article.id)" >Delete</button>
    </td>
            </tr>
        </tbody>

    </table>
        <router-link v-bind:to="{name:'addArticle'}" class="btn btn-success btn-lg btn-block">Add</router-link>
</div>
</template>

<script>
export default {
    data() {
        return {
            articles :[],
        }
    },
    created () {
        this.fetchArticles();

    },
    methods : {
        fetchArticles () {
          axios.get('/api/articles/role')
          .then(res =>this.articles = res.data)
           .catch(function(err){
               console.log(err);
           })
        },
        deleteArticle(id) {
            if(confirm('Are You Sure ')) {
            axios.delete(`/api/article/${id}`)
            .then(res => this.fetchArticles())
            }
        }
    }
}
</script>
