<template>
<div>
     <div style="margin-bottom: 10px" align="right"  >
           <router-link v-bind:to="{name:'admin'}"  class="btn btn-primary btn-lg pull-left">CRUD</router-link>
            <router-link v-bind:to="{name:'follow'}"  class="btn btn-success btn-lg pull-left">Follow</router-link>
            <router-link v-bind:to="{name:'profile',params:{user:userName}}"  class="btn btn-secondary  btn-lg pull-left">Profile</router-link>
           </div>

<div style="margin-bottom: 10px;" class="input-group input-group-lg">
  <input type="text" v-model="search" class="form-control" aria-label="Large" placeholder="Search Article " aria-describedby="inputGroup-sizing-sm">
  <button @click.prevent="searchArticle()" type="submit" class="input-group-text btn btn-primary">Search</button>
</div>

<div v-for="article in articles" v-bind:key="article.id">
    <div class="card mb-3" v-if="showsearch == false">
        <div class="card-body">
          <h1 class="card-title">Author : {{article.author}}</h1>
          <h2 class="card-title"> {{article.title}}</h2>
          <h4 class="card-text" id="go">{{article.body}}</h4>
          <router-link class="btn btn-dark" v-bind:to="{name:'ViewArticle',params : {id:article.id}}" > Read more </router-link>
          <!-- <p class="card-text"><small class="text-muted"></small>From {{article.created_at}}</p> -->
        </div>
      </div>
</div>
     <h2 class="card-title"> {{message}}</h2>
    <div v-for="cari in caris" v-bind:key="cari.id">
        <div class="card mb-3" v-if="showsearch == true">
        <div class="card-body">
          <h1 class="card-title">Author : {{cari.author}}</h1>
          <h2 class="card-title"> {{cari.title}}</h2>
          <h4 class="card-text" id="go">{{cari.body}}</h4>
          <router-link class="btn btn-dark" v-bind:to="{name:'ViewArticle',params : {id:cari.id}}" > Read more </router-link>
          <!-- <p class="card-text"><small class="text-muted"></small>From {{article.created_at}}</p> -->
        </div>
        </div>

</div>
  </div>
</template>


<script>
export default {

    data() {
        return {
            articles :[],
            userRole : '',
            userName: '',
            search : '',
            caris : [],
            showsearch : false,
            message  : ''
        }
    },
    created() {
        this.fetchArticles();
        axios.get('/api/comment/user').then(res => {
          this.userRole = res.data.role[0].role;
          this.userName = res.data.name
          console.log('this',res.data);
         });


},
    methods : {
        fetchArticles () {
          axios.get('/api/articles/followers')
          .then(res =>this.articles = res.data)
           .then(res => console.log('go',this.articles))
           .then(console.log(typeof(this.articles)))
           .then(res => this.articles.forEach(article=>{
               if(article.body.length > 200) {
              article.body =   article.body.substring(0,200) +'...';
               }
           }))
           .catch(function(err){
               console.log(err);
           })
        },
        searchArticle() {
            axios.get('/api/articles/search?query='+this.search)
            .then(res => {
                this.caris = res.data.articles ;
                this.message = res.data.Message ;
                this.search = '';
                this.showsearch = true
                console.log('message',this.message)

            })
            .catch(err => {
                console.log(err);
            })
        }
    }
}
</script>
