<template>
    <form v-on:submit.prevent ="updateArticle">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" v-model="article.title" class="form-control" id="title">
  </div>
  <div class="form-group">
    <label for="body">Content</label>
    <textarea v-model="article.body" class="form-control" id="body" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" class="form-control-file" id="image">
  </div>
    <button class="btn btn-primary" type="submit">Submit </button>
</form>
</template>

<script>
export default {
    data () {
        return {
           article : {
               title : '',
               body : ''
           }

        }
    },
    created() {
        axios.get('/api/comment/user').then(res => {
            this.article.user_id = res.data.id;
            console.log(res.data.id)
            });
            this.showArticle(this.$route.params.id);

    },
    methods : {
         showArticle(id) {
         axios.get(`/api/article/${id}`)
         .then(res => this.article = res.data)
        },
          updateArticle : function () {
         axios.put(`/api/article/${this.$route.params.id}`,this.article).then(res =>{
            this.$router.push({name:'admin'});
         })
         },
     clearForm() {
         this.title = '',
         this.body = ''
     }
    }
}
</script>
