<template>
<div>
<div class="card mb-3">
  <div class="card-body">
    <h2 class="card-title">{{article.title}}</h2>
    <h4 class="card-text">{{article.body}}</h4>
  </div>
</div>
<form @submit.prevent="addComment" class="mb-3">
<div class="input-group input-group-lg">
  <input type="text" v-model="comment.body" class="form-control" aria-label="Large" placeholder="Write Something About It " aria-describedby="inputGroup-sizing-sm">
  <button  type="submit" class="input-group-text btn btn-primary">Comment</button>
</div>
</form>
<div class="card mb-3" style="margin:10px" v-for="comment in comments" v-bind:key="comment.id">
    <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{comment.userName}}</h6>
  <div class="card-body">
    {{comment.body}}
  </div>
  <div style="float: right;"><button @click="deleteComment(comment.id)"  type="submit" class="btn btn-danger">Delete</button></div>

    </div>
</div>

</div>
</template>




<script>
export default {

    data ()  {
        return {
            article : [],
            comments : [],
            comment : {
                body : '',
                user_id: '',
                userName : '',
                article_id:this.$route.params.id,
            },
            edit : false

        }
    },
    created() {
        this.showArticle(this.$route.params.id);
        axios.get('/api/comment/user').then(res => {
            this.comment.userName = res.data.name
            this.comment.user_id = res.data.id
            console.log(res.data)
            })
        this.showComment(this.$route.params.id);

    },
    methods : {
        showArticle(id) {
         axios.get(`/api/article/${id}`)
         .then(res => this.article = res.data)
        },
        addComment() {
           axios.post('/api/comment',this.comment).then(res => {
              this.showComment(this.$route.params.id);
              this.clearForm();
           })
        },
        showComment(id) {
            axios.get(`/api/comment/article/${id}`).then(res => this.comments = res.data)
        },
        deleteComment(id) {
             if(confirm('Are You Sure ')) {
         axios.delete(`/api/comment/${id}`)
         .then(res =>  this.$router.go())
        }},
        clearForm() {
            this.comment.body = '';
        }
    }
}
</script>
